/* Custom CSS
====================================================================== */




/* Higher than 1200 (desktop devices)
====================================================================== */
@media only screen and (min-width: 1200px) {
	
}

/* Higher than 960 (desktop devices)
====================================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
 
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	 
}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	 
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	 
}

#heading {
	display: inline-block;
}

.hidden {
	display: none;
}

.block {
  display:block;
}

#home {
  margin-top: 35px;
}

.page-section h2 {
    margin-bottom: unset;
}

.top-bar .name h1 a {
  padding: unset;
}

.controller a {
  color: whitesmoke;
}
.event {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding-left: 5px;
    position: relative;
    border-radius: 2%;
    margin: 0 auto 10px;
    border: 5px solid #383838;
    background-color: #e9ebee;
}
.event:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05); 
}
.event-left {
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.event-right {
  direction:ltr;
  display:block;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 12px;
  left: 10px;
  position: relative;
  margin-right: 15px;
}
.event .link a{
    color: #3b5998;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 292px;
}

.event .date-bubble {
  color:rgb(255, 255, 255);
  cursor:pointer;
  direction: ltr;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 13px;
  right: 20px;
  position: absolute;
  top: 12px;
  z-index: 2;
  padding: 5px;
  background-color: #3b5998;
  height: 35px;
  border-radius: 20%;
}
.event .icon {
  font-size: 2em;
}

.event .map a{
  color: #4b4f56;
    font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.event .day {
  font-size: 20px;
}

.event .month {
  font-size: 11px;
}
.event .img {
    height: 100px;
    width: 100%;
}
.event .description {
    color: #90949c;
    font-weight: normal;
}

.gallery-item a {
  border-radius: 15% !important;
}

#portfolio .fancybox img {
  border-radius: 10% !important;
}

/* duplicated simply-wonder theme overrides to foundation 4 */
.nav-custom{
	background: #1d9ecc;
	border-color: #1d9ecc;
}
.top-bar{
	background: #1d9ecc;
}
.top-bar-section ul{
	background: #1d9ecc;
}
.top-bar-section li a:not(.button){
	background: transparent;
}
.top-bar, .top-bar ul {
	background-color: transparent;
}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] { 
	border-right: solid 1px #0C7BA2;
	border-left: solid 1px #3bbbea; 
}
.top-bar-section li a:not(.button):hover,#top-nav li a.active {
	background: #0C7BA2; 
	opacity:1;
}
 
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:focus  {
	color: #fff;
	background-color: #D84E4E;
	opacity:1;
}