<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content=""/>
		<meta name="keywords" content="Robot, Aliens, Fire" />
		<meta name="author" content="Ken Eucker"/>
		<title>Moltensteelman</title>
		
		<link rel="stylesheet" href="css/normalize.css"> 
		<link rel="stylesheet" href="../../vendor/foundation/foundation.css"> 
		
		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		
		<!-- Icon Fonts -->
		<link rel="stylesheet" href="css/font-awesome.css" media="screen">
		<!--<link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.css" media="screen">-->
		
		<!-- Reveal core CSS -->
		<link rel="stylesheet" href="css/reveal.css">
		
		<!-- fancyBox CSS files -->
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
		<link href="css/jquery.fancybox-buttons.css" rel="stylesheet">
		
		<!-- CSS3 Animation  -->
		<link href="css/animate.css" rel="stylesheet">
		
		<!--Themes styles for this template -->
		<!-- Select your Theme from below-->
		<link href="css/style-theme-2.css" rel="stylesheet">
		<link href="css/moltensteelman.css" rel="stylesheet">
		<!--
		<link href="css/style-theme-1.css" rel="stylesheet">
		<link href="css/style-theme-2.css" rel="stylesheet">
		<link href="css/style-theme-3.css" rel="stylesheet">
		<link href="css/style-theme-4.css" rel="stylesheet">
		<link href="css/style-theme-5.css" rel="stylesheet">
		<link href="css/style-theme-6.css" rel="stylesheet"> 
		-->
		 
	 	<!--Custom styles for this template - Add your CSS style in custom.css-->
		<link href="css/custom.css" rel="stylesheet">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  
		<![endif]-->  
		<script src="js/vendor/custom.modernizr.js"></script> 

		<!-- PURE Templating -->
		<script>window.page = {};</script>
		<script src="./sample.js"></script>    
		<script src="./page-directive.js"></script>
	</head>
	<body >
		
		<div class="wrapper" >
		  <!-- Header and Nav -->
		  <div class="fixed nav-custom" >
			  <nav class="top-bar row">
			    <ul class="title-area">
			      <!-- Title Area -->
			      <li class="name">
			        <h1>
			          <a href="#" class="logo">
			            <i class="icon-fire"></i><div id="heading">Simply Wonder</div>
			          </a>
			        </h1>
			      </li>
			      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			    </ul>
			 
			    <section class="top-bar-section"  >  
			      <!-- Right Nav Section -->
			      <ul class="right" id="top-nav">
			        <li class="divider"></li> 
			        <li><a href="#home" id="home-link" class="nav-link" > Home </a></li>
			        
			        <li class="divider"></li> 
			        <li ><a href="#portfolio"  id="portfolio-link" class="nav-link"> Portfolio</a></li>
			        
			        <li class="divider"> </li> 
			        <li ><a href="#about" id="about-link" class="nav-link" > About Us</a></li>
			        
			        <!--<li class="divider"></li> 
			        <li ><a href="#contact" id="contact-link" class="nav-link"> Contact Us</a></li>
			        -->
			        <li class="divider"></li> 
			        <li ><a data-reveal-id="contact-us" href="#contact"> Contact Us </a></li>
			      </ul>
			    </section>
			  </nav>
 		</div> 
  		<!-- End Header and Nav -->
  		
  		<!--Banner Start here-->
		<div class="row" id="home">
			<div class="reveal"> 
				<!-- Any section element inside of this container is displayed as a slide -->
				<div class="slides">
					<section>
						<h2 id="heading">We Provide <br/> Solution for a Smart WEBSITES</h2><br />
							<div class="reveal-images">
								<img class="animated fadeInUp delay1" src="img/html5.png" alt="HTML5" />
								<img class="animated fadeInUp delay2" src="img/css3.png" alt="CSS" /> 
								<img class="animated fadeInUp delay3" src="img/zurb-foundation.png" alt="Twitter Bootstrap" />
							</div>
					</section>
				</div>
				
			</div>
			<div class="controller">
					<a class="controller-left navigate-left" href="#"><i class="icon-chevron-sign-left"></i></a>
					<a class="controller-right navigate-right" href="#"><i class=" icon-chevron-sign-right"></i></a>
			</div>
		</div>
		<!--Banner Ends here-->
	 		 
			<!--Portfolio Start here-->
			<section id="portfolio" class="page-section">
			<div class="row">
				<h2 class="section-title text-center">Portfolio</h2>
					<div class="small-6 large-4 column gallery-item text-center">  
						<a class="fancybox fancybox.iframe" href="img/work/img_3.jpg" data-fancybox-group="gallery">
							<img class="img-responsive" src="img/work/th_img_3.jpg" alt="Picture Title Goes Here"> 
							<div class="zoom-icon"></div>                        
						</a> 
						<h4>Title goes Here</h4>
						<p><i>Android app</i></p>  
				</div>
			</div>
			</section>

  			<!--features Start here-->
			<!--<section id="features">
				<div class="row">
		 			<div class="small-6 large-3 columns text-center features-box">
		 				<div class="features-img text-center">
		 					<i class="icon-check-sign icon-circled icon-64"></i>
		 				</div>
		 				<div class="features-details">
		 					<h4>Responsive theme</h4>
		 					<p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
		 				</div> 
		 			</div> 
		 			<div class="small-6 large-3 columns text-center features-box">
		 				<div class="features-img text-center">
		 					<i class="icon-mobile-phone icon-circled icon-64"></i>
		 				</div>
		 				<div class="features-details">
		 					<h4>Mobile Ready</h4>
		 					<p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
		 				</div> 
		 			</div> 
		 			<div class="small-6 large-3 columns text-center features-box">
		 				<div class="features-img text-center">
		 					<i class="icon-html5 icon-circled icon-64"></i>
		 				</div>
		 				<div class="features-details">
		 					<h4>HTML5 &amp; CSS 3</h4>
		 					<p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
		 				</div> 
		 			</div> 
		 			<div class="small-6 large-3 columns text-center features-box">
		 				<div class="features-img text-center">
		 					<i class=" icon-suitcase icon-circled icon-64"></i>
		 				</div>
		 				<div class="features-details">
		 					<h4>Corporate Business</h4>
		 					<p>Lorem ipsum dolor sit has ei ipsum  amet, has ei ipsum scaevola deseruisse am sea facilisis.</p>
		 				</div> 
		 			</div> 
				</div>
			</section>  -->
			<!--features End here-->	
			 <hr />
			<!--About Start here-->
			<section id="about" class="page-section">
				<div class="row">
					<div class="small-12 large-12 columns text-center">
						<h2 id="about-title" class="section-title">A LITTLE ABOUT US</h2>
					</div>
				</div>
				<div class="row section-content">
					<div id="about-blurb" class="small-12 large-8 columns">
						<div class="original">
							<h3>Heading goes here </h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua nisi ut aliquip  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ex ea commodo consequat. Duis aute irure dolor in  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>					
			 		 	</div>
						<div class="member hidden">
			 		 	</div>							
			 		</div>							
					<div class="small-12 large-4 columns">
						<div id="team" class="row">
			 		 	   <div class="small-6 rows">
			 		 			<div class="our-team">
				                    <div class="our-team-img"><img src="img/team_1.jpg" alt="" class=""></div>
									<div class="social-link-small">
										<a href="#" class="email button secondary btn-grey icon-round"><i class="icon-envelope"></i></a> 
										<a href="#" class="facebook button secondary btn-grey icon-round"><i class="icon-facebook"></i></a> 
										<!--<a href="#" class="twitter button secondary btn-grey icon-round"><i class="icon-twitter"></i></a> -->
										<a href="#" class="linkedin button secondary btn-grey icon-round"><i class="icon-linkedin"></i></a> 
										<!--<a href="#" class="pinterest button secondary btn-grey icon-round"><i class="icon-pinterest"></i></a>-->
									</div>
				                    <div class="caption hidden">
										<h6>Name here, CEO</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra mauris id eros.</p>
				                    </div>
			                    </div>
			 		 		</div>
	 		 			</div>
					</div>
					</div>
				</div>
				<!-- Our Team Start here -->
				<!--				
				<div id="our-team">
			 		 <div class="row">
			 		 		<h2 id="team-heading" class="small-12 large-12 columns text-center">
			 		 			Our Team
			 		 		</h2> 
			 		 </div>	 
	 		 	</div>-->
	 		 	<!-- Our Team Start here -->
	 		 	
			</section> 
			<!--About End here-->

			 <hr />
			 
			<section id="events">
				<div class="event">
					<div class="event-left">
						<a class="block" href="site">
							<div style="width: 150px; height: 100px;">
								<img class="img" width="150" height="150">
								</div>
							<div class="date-bubble" title="Tuesday, January 10">
								<span class="month block">JAN</span>
								<span class="day block">10</span>
							</div>
						</a>
					</div>
					<div class="event-right">
						<div class="link">
							<a href="link">Gracie Dog Party!!</a>
						</div>
					<div class="map">
						<a href="map">
							<i class="gen-enclosed icon-location">Where </i>
							<span>Normandale Dog Park</span>
						</a>
					</div>
					<div class="date">
							<i class="gen-enclosed icon-calendar">When </i>
							<span>2/12/2017 - 2/14/2017</span>
					</div>
					<div class="description">
							<i class="gen-enclosed icon-star">Why </i>
							<span>Description</span>
					</div>
				</div>
			</section>

			 <hr />
	 		 	
	 		 <section class="page-section">
	 		 	<!-- Client Logo row of columns -->
	  			<div class="row">
							<div id="mentions" class="our-clients">
								<h2 class="section-title text-center">Mentioned In</h2>
								<div class="small-6 large-2 column">
									<img class="img-responsive grayscale" src="img/client-logo-03.png" alt="">
								</div>
							</div> 
	     		</div><!-- End Client logo-->
	 		 </section>
	 		 <!--Portfolio end here--> 
			 
		 	  <hr />
	 		 <!--Contact Start here-->
	 		 <section id="contact" class="page-section">
	 		 	
	 		 	<div class="row">
	 		 		<div id="contact" class="small-12 large-4  large-offset-2 columns page-section">
							<h3>Contact Info</h3>					
							<p>
								<b>Company Name</b>
							</p>
							<span id="address-1">30 South Park Avenue</span><br />
							
							<span id="address-2">San Francisco, CA 94108, USA</span><br />
							
							Phone:<span id="phone"></span><br />
							
							<!--Fax: <span id="fax"></span<br />-->
							
							Email: <span id="email">contact@companyname.com</span><br />
							
							Web: <span id="web">companyname.com</span><br /><br />
			                <div class="social-link-small"> 
								<a id="facebook" href="#" class="button secondary btn-grey icon-round"><i class="icon-facebook"></i></a> 
								<a id="twitter" href="#" class="button secondary btn-grey icon-round"><i class="icon-twitter"></i></a> 
								<!--<a id="linkedin" href="#" class="button secondary btn-grey icon-round"><i class="icon-linkedin"></i></a> -->
								<a id="pinterest" href="#" class="button secondary btn-grey icon-round"><i class="icon-pinterest"></i></a>
							</div>         
					</div>
					
					<!--Contact form Start here--> 
					<div id="contact-us" class="reveal-modal small">
						 <div class="widget">
						<h4>Contact us</h4> 
							<form class="contactform" data-abide>
				                <div class="item item-pair">
				                  <label for="FullName">Full Name
				                    <input type="text" name="FullName" id="FullName" class="small-input cat_textbox" required   pattern="[a-zA-Z]+"  maxlength="255">
				                     <small class="error small-input">Name is required and must be a string.</small>
				                  </label>
				                  <label for="EmailAddress">Email Address
				                    <input type="text" name="EmailAddress" id="EmailAddress" class="small-input cat_textbox" maxlength="255" required  >
				                  	 <small class="error small-input">An email address is required.</small>
				                  </label>
				                </div>
				                <div class="item">
				                  <label for="Website">Website
				                    <input type="text" name="Website" id="Website" class="small-input cat_textbox" maxlength="255">
				                  </label>
				                </div>
				                <div class="item">
				                  <label>Message</label>
				                  <textarea  cols="10" name="Message" rows="4" class="cat_listbox" required ></textarea>
				                  <small class="error">Please enter your message</small>
				                </div>
				                <div class="item">
				                  <input class="button alert small" type="submit" value="Submit" id="catwebformbutton">
				                </div>
								</form>
								<a class="close-reveal-modal">&#215;</a>
							</div>
						</div>
					<!--Contact form End here-->  
	 		 	</div> <!--End .row--> 
	 		 </section>
	 		 <!--Contact End here-->  
	 		 
	 		  <!--Footer Start here--> 
	 		 <footer class="footer">
				<p class="text-center">
					<!-- Copyright information. You can remove my site link. -->
					Copyright © moltensteelman Inc. | Designed by <a href="http:/keneucker.com">Ken Eucker</a>
				</p>
			</footer>
			 <!--Footer End here--> 
	 		
		
		</div><!--End .wrapper-->
		
		
		
		<div id="quote" class="reveal-modal small">
	  		<h3>Request a Quote</h3>
		  <form action="/signin" method="post" class="form-stacked">
				             
					<div class="clearfix">
						<div class="input"> 
							<input name="name" type="text" placeholder="Name" required="">  
						</div>
					</div>
						<div class="clearfix">
						<div class="input">
							<input name="emai" type="email" placeholder="Your Email Address" required="">  
						</div>
					</div>
						<div class="clearfix">
						<div class="input">
							<input name="company" type="text" placeholder="Company Name"> 
						</div>
					</div> 
					
						<div class="clearfix">
						<div class="input">
							<input name="number" type="tel" placeholder="Contact Number"> 
						</div>
					</div> 
						<div class="clearfix">
						<div class="input">
							<select name="pbudge" class="input-medium">
										<option value=""> Select Project type </option>
											<option value="Website">Website</option>
											<option value="Mobile Application">Mobile Application</option>
											<option value="Design">Design</option>
											<option value="Photography">Photography</option>
											<option value="Destop Application">Destop Application</option> 
							</select>
						</div>
					</div> 
						<div class="clearfix">
						<div class="input">
							<select name="pbudge" class="input-medium">
										<option value=""> Select Project Budget </option>
											<option value="$500 - $1000">$500 - $1000</option>
											<option value="$1000 - $3000">$1000 - $3000</option>
											<option value="$3000 - $5000">$3000 - $5000</option>
											<option value="$5000 - $10000">$5000 - $10000</option>
											<option value="$10000 - $20000">$10000 - $20000</option>
											<option value="$20000 - $50000">$20000 - $50000</option>
											<option value="$50000 +">$50000 +</option>                                  
							</select>
						</div>
					</div> 
				            
					<div class="clearfix">
					<div class="input">
						<textarea rows="10" id="inputDesc" placeholder="Project Details"></textarea>
					</div>
				</div>
				<div class="actions">
					<input class="button alert" type="submit" value="Send"> 
				</div>
					
		</form>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
		
		<!-- Foundation  core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
		<script>
			window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
		</script>
		<script src="./js/foundation.min.js"></script>

		<!-- Youtube API -->
		<script src="http://www.youtube.com/player_api"></script>
		
		<!-- jQuery scrollspy JS  --> 
		 <script  src="./js/vendor/jquery-scrollspy.js"></script>
		 
		 
		 <!-- Reveal jQuery -->
		<script src="./js/vendor/head.min.js"></script>
		<script src="./js/vendor/reveal.min.js"></script>
		<script src="./js/vendor/classList.js"></script>
 		
		<!-- FancyBox main JS -->
		<script type="text/javascript" src="./js/vendor/jquery.fancybox.js"></script>
		
		<script src="./js/custom.js"></script>
		<script>
			$(document).foundation();
		</script>

		<!-- PURE Unobtrusive Rendering Engine -->
		<script src="../../vendor/pure/pure.min.js"></script>
		<script>
			// Render the page using PURE
			$( 'body' ).render(window.page.content, window.page.directive);
		</script>
	</body>
</html>
